/* ----------------------------
     fonts
------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,300;1,400&display=swap');

body{
     font-family: 'Poppins', sans-serif;
     background-color: #F3F1FF;
     margin: 0px;
}
/* ---------------------------------
          nav-start
----------------------------------- */
.main-nav{
     display: flex;
     width: 100%;
     align-items: center;
     justify-content: space-around;
     background-color: #562EFF;
     margin: 0;
}
.nav-logo {
     display: flex;
     align-items: center;
     padding-right: 70px;
     cursor: pointer;
}
.nav-logo p{
     padding: 10px;
     color: whitesmoke;
     font-size: 20px;
}
.nav-logo img{
     width: 42px;
     height: 50px;;
}
.nav-icon{
     display: flex;
     align-items: center;
     padding-left: 80px;

}
.nav-icon a{
     text-decoration: none;
     padding: 10px;
     color: whitesmoke;
     font-weight: 300;
     font-size: 14px;
}
.icon-img img{
     width: 50px;
     height: 50px;
}
/* ---------------------------------
          nav-end
----------------------------------- */
/* --------------------------------
          top-player start
--------------------------------------- */
header{
     width: 870px;
     min: height 600px;;
     display: flex;
     flex-wrap: wrap;
     margin:0px auto;
}
.main-players{
     display: flex;
     justify-content: center;
     font-weight: 500;
     font-size: 18px;
}
#main-player{
     background-color: #FFFFFF;
}
#main-player h3{
     padding: 10px 0 0 35px;
     color: #562EFF;
     font-size: 22px;
}
#main-player hr{
     width:90%;
     font-weight: 100;

}
.top-player{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     width: 870px;
}
.players{
     display: flex;
     justify-content: center;
     align-items: top;
}
.players-pic img{
     width: 56px;
     height: 56px;
     padding: 5px 15px 25px 10px;
  
}
.players-name{

}
/* --------------------------------
          top-player end
--------------------------------------- */
/* ---------------------------------------
          blog-start
--------------------------- */
.about-blog{
     display: flex;
     justify-content: center;
}
.main-blog{
  
     background-color: #FFFFFF;
     width: 870px;


}

#top-blog {
     padding-left: 35px;
     color: #562EFF;
     font-size: 22px;
}
.top-blog{
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     grid-gap: 20px;
}
.small-blog{
     display: flex;
     align-items: top;
   
}
.small-blog img{
     width: 170px;
     height: 100px;
     padding: 5px 20px 30px 50px;
    
}
.small-blog h4{
     font-weight: 500;
     font-size: 18px;
}
.small-blog span{
     color: #562EFF;
     font-weight: 300;
     font-size: 16px;
}
/* ---------------------------------------
          blog-end
--------------------------- */
/* ------------------------------
     course-start
------------------------------- */
#course{
     width: 870px;
     min-height: 400px;
     margin: 20px auto 0px auto;
     background-color: #FFFFFF;
     
}
.course-title h3{
     padding: 25px  0px 0px 35px;
     color:  #562EFF;
     font-size: 22px;
}
.main-course{
     display: flex;
     justify-content: space-evenly;
     flex-wrap: wrap;
}
.course-box{
     width: 250px;
     height: 300px;
     margin: 5px;
     line-height: 18px;
     border-radius: 5px;
     box-shadow: 1px 1.5px 10px rgb(240, 232, 232);
}
.course-box img{
     width: 210px;
     height: 110px; 
     padding: 10px 20px;
     
}

.course-box h4,small{
     padding: 0px 20px;
}
   
#icon{
color: #FFC014;
    font-size: 13px;
     margin-left: 20px;
}
.empty, #time{
     color: #c5c5c5;
    font-size: 12px;

}
#duration{
     border: none;
     padding: 5px 10px;
     border-radius: 15px;
     background-color: #FFE4E8;
     font-size: 12px;
     color: #e45c6c;
     font-weight: 400;
     margin: 10px 0px 20px 20px;
     
}
/* ------------------------------
     course-end
------------------------------- */
/* ------------------------------
     footer-start
------------------------------- */
.main-footer{
     width: 100%;
     display: flex;
     align-items: center;
     background-color: #341ceb;
     justify-content: space-around;
     
     
}
.main-footer p{
     align-items: center;
     color: whitesmoke;
     cursor: pointer;
     padding: 15px 0px;
}
.foooter-logo img{
     width: 40px;
     height: 50px;
     cursor: pointer;
     margin-left: 90px;
}
.footer-icon, .fab{
     font-size: 40px;
     color: whitesmoke;
     cursor: pointer;

}
.footer-icon{
     margin-right: 90px;
}


/* ------------------------------
     footer-end
------------------------------- */

/* -------------------------------------------------------*\
          Media-quyary Start
\* --------------------------------------------------------*/
@media only screen and (min-width:0px) and (max-width:520px){
   
     .main-nav{
          width: 500px;
          display: grid;
          grid-template-columns: 1fr;
          justify-items: center;
     
     }
     .nav-logo{
          display: flex;
          justify-content: center;
          align-items: center;
         
     }
     .nav-logo img{
          margin-left: 100px;
     }
     .nav-icon{
          align-items: center;
     
     }
     
    /* ------------header --------------------------------------------------- */
   
    .top-player{
         width: 100%;
         display: block;
         align-items: top;
    }
    .players{
      width: 500px;
      background-color: rgb(43, 41, 41);
      color: whitesmoke;
     }
     #main-player h3{
          text-align: center;
     }
     .players img{
          width: 60px;
          height: 60px;
          padding-bottom: 7px;
          display: flex;
          justify-content: center;
     }
     /* -----------------blog----------------------------------------------------- */
     .main-blog{
          width: 500px;
     }
     .top-blog{
          display: block;
     }
     /* --------------------------dourse---------------------------------------------------------*/
     #course{
          width: 500px;
         
     }
     .course-box{
          width: 400px;
          height: 330px;
     }
     .course-box img{
          width: 320px;
          height: 150px; 
          padding: 10px 40px;  
     }
     .course-box h4,small{
          padding: 0px 40px;
     }
     #icon{
          color: #FFC014;
           font-size: 13px;
          margin-left: 40px;
     }
     .empty, #time{
         color: #c5c5c5;
         font-size: 12px;
     
     }
     #duration{
          border: none;
          padding: 5px 10px;
          border-radius: 15px;
          background-color: #FFE4E8;
          font-size: 12px;
          color: #e45c6c;
          font-weight: 400;
          margin: 10px 0px 20px 40px;
          
     }
     /* ---------------------------footer---------------------------------------------- */
     .main-footer{
          width: 500px;
          display: flex;
          flex-wrap: wrap;
     }
     * .main-footer p{
          color: whitesmoke;
          padding-right: 60px;
          cursor: pointer;
          display: block;
     }
     .foooter-logo img{
          width: 40px;
          height: 50px;
          cursor: pointer;
          display: block;
   
     }
     .footer-icon, .fab{
          font-size: 40px;
          color: whitesmoke;
          cursor: pointer;
     
     }
     .footer-icon{
          margin-left: 130px;
     } 
}
@media only screen and (min-width:520px) and (max-width:768px){
   
     .main-nav{
          width: 500px;
          display: grid;
          grid-template-columns: 1fr;
          justify-items: center;
     
     }
     .nav-logo{
          display: flex;
          justify-content: center;
          align-items: center;
         
     }
     .nav-logo img{
          margin-left: 100px;
     }
     .nav-icon{
          align-items: center;
     
     }
     
    /* ------------header --------------------------------------------------- */
   
    .top-player{
         width: 100%;
         display: block;
         align-items: top;
    }
    .players{
      width: 500px;
      background-color: rgb(43, 41, 41);
      color: whitesmoke;
     }
     #main-player h3{
          text-align: center;
     }
     .players img{
          width: 60px;
          height: 60px;
          padding-bottom: 7px;
          display: flex;
          justify-content: center;
     }
     /* -----------------blog----------------------------------------------------- */
     .main-blog{
          width: 500px;
     }
     .top-blog{
          display: block;
     }
     /* --------------------------dourse---------------------------------------------------------*/
     #course{
          width: 500px;
          margin-left: 0px;
         
     }
     .course-box{
          width: 400px;
          height: 330px;
     }
     .course-box img{
          width: 320px;
          height: 150px; 
          padding: 10px 40px;  
     }
     .course-box h4,small{
          padding: 0px 40px;
     }
     #icon{
          color: #FFC014;
           font-size: 13px;
          margin-left: 40px;
     }
     .empty, #time{
         color: #c5c5c5;
         font-size: 12px;
     
     }
     #duration{
          border: none;
          padding: 5px 10px;
          border-radius: 15px;
          background-color: #FFE4E8;
          font-size: 12px;
          color: #e45c6c;
          font-weight: 400;
          margin: 10px 0px 20px 40px;
          
     }
     /* ---------------------------footer---------------------------------------------- */
     .main-footer{
          width: 500px;
          display: flex; 
          flex-wrap: wrap;
     }
     * .main-footer p{
          color: whitesmoke;
          padding-right: 60px;
          cursor: pointer;
          display: block;
     }
     .foooter-logo img{
          width: 40px;
          height: 50px;
          cursor: pointer;
          display: block;
   
     }
     .footer-icon, .fab{
          font-size: 40px;
          color: whitesmoke;
          cursor: pointer;
     
     }
     .footer-icon{
          margin-left: 130px;
     } 
}

/* -------------------------------------------------------*\
          Media-quyary End
\* --------------------------------------------------------*/